<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @plan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @plan.end_date %>
</p>

<p>
  <strong>Area:</strong>
  <%= @plan.area.name %>
</p>

<h3><行く場所></h3>
    <% @places.each do |place| %>
    <td><%= place.route %></td><br>
    <td><%= place.user.email %></td><br>
    <td><%= place.address %></td><br>
    <td><%= place.latitude %></td><br>
    <td><%= place.longitude %></td><br><br>
<% end %>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
