<p id="notice"><%= notice %></p>

<h3><プラン名></h3>
<p>
  <strong>Area:</strong>
  <%= @plan.area.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @plan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @plan.end_date %>
</p>


<h3><行く場所></h3>
    <% @places.each do |place| %>
    <td><%= place.route %></td><br>
    <td><%= place.user.email %></td><br>
    <td><%= place.address %></td><br>
    <td><%= place.latitude %></td><br>
    <td><%= place.longitude %></td><br><br>
<% end %>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>




<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<br><br><br><br><br>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  defo = new google.maps.LatLng( 39.0686606 , 141.3507552 );
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(5);
    handler.map.centerOn(defo);
  });
</script>
